
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prazer!</h2>
<h2>Rocketshoes.</h2>

<br />

<p>Aplicação Fullstack de e-commerce focado na venda de calçados.</p>

<br />
<ul>
    <li>RA: 082170013</li>
    <li>Turma: EC5</li>
    <li>Disciplina: Linguagem de Programção I</li>
</ul>
