
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bem vindo à Rocketshoes!</h2>
<br>
<br>
<p>Prepare-se para uma nova experiência de compras de calçados masculinos e femininos!</p>
<p>Site em construção!</p>